//@theme "~/.local/share/rofi/themes/arc_dark_transparent_colors.rasi"
//@theme "/usr/share/rofi/themes/squared-nord.rasi"
//@theme "/usr/share/rofi/themes/Adapta-Nokto.rasi"
//@theme "/usr/share/rofi/themes/squared-nord.rasi"
//@theme "/home/ks/.local/share/rofi/themes/squared-nord.rasi"
@theme "/home/ks/.local/share/rofi/themes/nord.rasi"
